
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome</h2>

@Html.ActionLink("Suppliers", "Index", "Suppliers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Products", "Index", "Products", null, new { @class = "btn btn-secondary" })
@Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "btn btn-success" })


